*  {
    background-color: #F7F7F7;
}

.Heading {
    color: #0A2342;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    text-align: center;
}

.Main_heading {
    color: #072141;
    font-family: "Montserrat", sans-serif;
    font-size: 1.7rem;
}

.Dates {
    color: #6E6E6E;
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
}

p {
    color: #1A1A1A;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
}

hr {
    color: #DADADA;
}

.Job_title {
    color: #0A2342;
}

.Duties {
    font-style: italic;
    color: #333333;
}

.Personal_info_label {
    font-weight: bold;
    color: #0A2342;
    font-size: 1.2rem;
}

.Referee_name {
    font-weight: bold;
    color: #0A2342;
}

#Head_user {
    font-weight: bold;
    color: #0A2342;
}

#Dorm_prefect {
    font-weight: bold;
    color: #0A2342;
}

li {
    color: #1A1A1A;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
}

.Disclaimer {
    font-size: 0.8rem;
    color: #888888;
    text-align: center;
    font-family: "Lato", sans-serif;
}